@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Roboto:300,900');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
// Fonts
$font__1: 'Lato',sans-serif;
$font__2: 'Roboto', sans-serif;
$font__Kaushan: 'Kaushan Script', cursive;
// Colores
$primary:#E73E51;
$secondary: #FFCD00;
$gray: #797F80;
$black:#262626;
$white:#fff;
$gray:#F5F5F5;
$gray_2:#9D9D9D;
$color_overlay:rgb(3,13,29);
